@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signin_manager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> user_manager
@inject Models.SignUpModel signup
@{

    ViewData["title1"] = "Home";
    ViewBag.title = "home";

    var username = User.FindFirst("FullName").Value;
    var user_email = User.FindFirst("Email").Value;
    var user_phoneNo = User.FindFirst("PhoneNo").Value;

    var user_Home_Address = User.FindFirst("Home_Address").Value;
    var user_cityName = User.FindFirst("City_Name").Value;

    var user_Gender = User.FindFirst("Gender").Value;

    var user_id = User.FindFirst("id").Value;

    var profilePhoto = User.FindFirst("Profile_Photo_Path").Value;

    var Photofolder = "Profile_Pics/";

    string photo = "";
    if (profilePhoto != "")
    {
        photo = Photofolder + profilePhoto;
    }

}

<body style="" class="home-background">

</body>

<div id="placeholder"></div>

<div>
    <center>
        <h1 class="text-uppercase fw-bold shadow text-white border m-2 bg-black" style="border-radius:2rem;">Home</h1>
    </center>

    <div class="border p-1 rounded m-2 bg-black bg-opacity-50 text-light">
        <h3>Basic Info</h3>
        <table class="table fs-5 table-striped table-hover table-sm">

            <tbody>

                <tr>
                    <td colspan="2" class="col-3 text-info">Photo: </td>
                    <td class="text-white col-7">Photo helps personalize your account</td>
                    <td class="text-white col-2 bg-black text-center bg-opacity-50">
                        @if (profilePhoto != "")
                        {
                            <img class="" style="height:4rem;width:4rem;border-radius:5rem" src="@photo"/>
                        }
                        else
                        {
                            <input type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#fileUpload" value="Upload Profile Photo" />

                            <!-- Modal -->
                            <div class="modal fade" id="fileUpload" tabindex="-1" aria-labelledby="propic" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header  text-black">
                                            <h1 class="modal-title fs-5" id="propic">Upload Profile Photo</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <form method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="@user_id" />

                                            <div class="modal-body">
                                                @*choose file*@

                                                <div class="input-group mb-3">
                                                    <input type="file" class="form-control text-black" asp-for="@signup.Profile_pic">
                                                    <label class="input-group-text" asp-for="@signup.Profile_pic">Upload</label>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>



                                    </div>
                                </div>
                            </div>

                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="col-3 text-info">Name: </td>
                    <td colspan="2" class="text-white col-7">@username</td>
                </tr>
                <tr>
                    <td colspan="2" class="col-3 text-info">Gender: </td>
                    <td class="text-white col-7" colspan="2">@user_Gender</td>
                </tr>
                <tr>
                    <td colspan="2" class="col-3 text-info bg-black">Edit Basic Info: </td>

                    <td class="text-center bg-black bg-opacity-75" colspan="2">
                        <a href="#editmodel" class="text-decoration-none" style="filter:invert(1);" data-bs-toggle="modal" data-bs-target="#editmodel1">
                            <img src="/Icons/Edit.svg" class="img-fluid icon" style="border-bottom: 2px solid black;" />
                        </a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    <div class="border p-1 rounded m-2 bg-black bg-opacity-50 text-light">
        <h3>Contact Info</h3>
        <table class="table fs-5 table-striped table-hover table-sm">

            <tbody>
                <tr>
                    <td colspan="2" class="col-3 text-info">Email: </td>
                    <td class="text-white col-7">@user_email</td>
                </tr>
                <tr>
                    <td colspan="2" class="col-3 text-info">Phone No: </td>
                    <td class="text-white col-7">@user_phoneNo</td>
                </tr>
                <tr>
                    <td colspan="2" class="col-3 text-info bg-black">Edit Contact Info: </td>

                    <td class="text-center bg-black bg-opacity-75">
                        <a href="#editmodal_2" class="text-decoration-none" style="filter:invert(1);" data-bs-toggle="modal" data-bs-target="#editmodal2">
                            <img src="/Icons/Edit.svg" class="img-fluid icon" style="border-bottom: 2px solid black;" />
                        </a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    <div class="border p-1 rounded m-2 bg-black bg-opacity-50 text-light">
        <h3>Addresses</h3>
        <table class="table fs-5 table-striped table-hover table-sm">

            <tbody>
                <tr>
                    <td colspan="2" class="col-3 text-info">Home: </td>
                    <td class="text-white col-7">@user_Home_Address</td>
                </tr>
                <tr>
                    <td colspan="2" class="col-3 text-info">City Name: </td>
                    <td class="text-white col-7">@user_cityName</td>
                </tr>
                <tr>
                    <td colspan="2" class="col-3 text-info bg-black">Edit Addresses: </td>

                    <td class="text-center bg-black bg-opacity-75">
                        <a href="#editmodel_3" class="text-decoration-none" style="filter:invert(1);" data-bs-toggle="modal" data-bs-target="#editmodel3">
                            <img src="/Icons/Edit.svg" class="img-fluid icon" style="border-bottom: 2px solid black;" />
                        </a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    <div class="border p-1 rounded m-2 bg-black bg-opacity-50 text-light">
        <h3>Looking for something else?</h3>
        <table class="table fs-5 table-striped table-hover table-sm">

            <tbody>
                <tr>
                    <td colspan="2" class="col-5 text-info"><img src="/Icons/search-left.svg" class="img-fluid icon m-1" />Search: </td>
                    <td class="text-white col-7">Ahmad Fraz</td>

                </tr>
                <tr>
                    <td colspan="2" class="col-5 text-info"><img src="/Icons/info.svg" class="img-fluid icon m-1" />Info: </td>
                    <td class="text-white col-7">Ahmad Fraz</td>

                </tr>
                <tr>
                    <td colspan="2" class="col-5 text-info"><img src="/Icons/feedback.svg" class="img-fluid icon m-1" />Send Feedback: </td>
                    <td class="text-white col-7">Ahmad Fraz</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div id="editmodel">

    <form method="post" enctype="multipart/form-data">
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="editmodel1" tabindex="-1" aria-labelledby="editmodelLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-black bg-opacity-75 text-white border">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editmodelLabel">Edit Basic Info</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" asp-for="@signup.Profile_Photo_Path" value="@profilePhoto" />
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" asp-for="@signup.Profile_pic" >
                            <label class="input-group-text" asp-for="@signup.Profile_pic">Upload</label>
                            <label class="form-label"></label>
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" asp-for="@signup.Name"></label>
                            <input class="form-control text-black" asp-for="@signup.Name" value="@username">
                        </div>


                        <div class="input-group mb-3">
                            <label asp-for="@signup.Gender" class="form-label input-group-text"></label>
                            <select class="form-control h4 d-block col-12" asp-for="@signup.Gender" value="@user_Gender">
                                <option value="Male" class="text-black">Male</option>
                                <option value="Female" class="text-black">Female</option>
                            </select>
                            <span asp-validation-for="@signup.Gender" class="bg-danger"></span>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div id="editmodal_2">

    <form method="post" enctype="multipart/form-data">
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="editmodal2" tabindex="-1" aria-labelledby="editmodal2Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-black bg-opacity-75 text-white border">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editmodal2Label">Edit Contact Info</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="input-group mb-3">
                            <label class="input-group-text" asp-for="@signup.Email"></label>
                            <input class="form-control text-black" asp-for="@signup.Email" value="@user_email">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" asp-for="@signup.PhoneNo"></label>
                            <input class="form-control text-black" asp-for="@signup.PhoneNo" value="@user_phoneNo">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div id="editmodel_3">

    <form method="post" enctype="multipart/form-data">
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="editmodel3" tabindex="-1" aria-labelledby="editmodel3Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-black bg-opacity-75 text-white border">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editmodel3Label">Edit Addresses</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="input-group mb-3">
                            <label class="input-group-text" asp-for="@signup.Home_Address"></label>
                            <input class="form-control text-black" asp-for="@signup.Home_Address" value="@user_Home_Address">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" asp-for="@signup.City_Name"></label>
                            <input class="form-control text-black" asp-for="@signup.City_Name" value="@user_cityName">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>